body {
  margin: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5em;
  line-height: 1.166666667em;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 2em;
}
dd + dt,
dd + dd {
  margin-top: 0.5em;
}

figure {
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  height: calc(100% - 2em);
  margin: 0;
  padding: 1em;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

main {
  padding-right: 1em;
  padding-left: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
ul button {
  overflow-x: hidden;
  width: 100%;
  padding: 0.5em 0;
  border: 0;
  background-color: #fff;
  text-align: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  width: calc(100vw - 2em);
  height: 60vh;
  object-fit: cover;
  object-position: top;
}

button {
  color: inherit;
  font: inherit;
}

input {
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid #c1c1c1;
  font: inherit;
}
input:focus {
  outline-style: dotted;
  outline-offset: 1px;
  outline-width: 2px;
}
