body {
  margin: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5em;
  line-height: 1.166666667em;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 2em;
}
dd + dt,
dd + dd {
  margin-top: 0.5em;
}

figure {
  margin-right: 0;
  margin-left: 0;
}

main {
  padding-right: 1em;
  padding-left: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: 0;
  background-color: #fff;
  color: inherit;
  font: inherit;
  text-align: inherit;
}
